.delete-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.student {
    background-color: transparent;
    text-align: center;
    border: none;
    pointer-events: none;
}

.delete-button:active i {
    color: white;
}

table th {
    position: relative;
}
.tableTitle {
    background-color: transparent;
    color: white;
    border: none;
}
input.tableTitle {
    min-width: auto;
    display: inline-block;
}
