<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Students</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="/site.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/students.css" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body>
        <%- include('navbar.ejs') %>
        <div class="center">
            <h1>Manage Students</h1>
            <form
                id="student-form"
                action="/saveStudents"
                method="post">
                <table>
                    <thead>
                        <tr>
                            <th>Students</th>
                        </tr>
                    </thead>
                    <tbody id="student-table">
                        <% students.forEach((student) => { %>
                        <tr>
                            <td>
                                <input
                                    type="text"
                                    name="student"
                                    class="student"
                                    value="<%= student %>"
                                    readonly />
                                <button
                                    id="delete <%= student %>"
                                    onclick="deleteStudent(event)"
                                    class="delete-button">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <label
                    id="message"
                    style="color: red">
                </label>
                <br />
                <div class="input-container">
                    <input
                        type="email"
                        id="new-student"
                        placeholder="New Student" />
                    <button
                        id="addBtn"
                        onclick="addStudent(event)">
                        Add Student
                    </button>
                </div>
                <br />
                <div style="display: flex">
                    <input
                        style="flex: 1"
                        type="submit"
                        value="Save" />
                    <button
                        style="flex: 1"
                        onclick="cancelButtonClick(event);">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </body>
    <script>
        const form = document.getElementById("student-form");

        form.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                var input = document.getElementById("new-student");
                document.getElementById("addBtn").click();
            }
        });
        function cancelButtonClick(event) {
            event.preventDefault();
            window.location.href = "/students";
        }
        function deleteStudent(event) {
            const button = event.target;
            const row = button.closest("tr");
            row.remove();
        }
        function setError(error) {
            const message = document.getElementById("message");
            message.innerHTML = error;
        }
        function getStudents() {
            const students = document.querySelectorAll("input.student");
            const studentList = [];

            students.forEach((student) => {
                studentList.push(student.value.toUpperCase());
            });

            return studentList;
        }

        function isValidEmail(email) {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        function addStudent() {
            event.preventDefault();
            const input = document.getElementById("new-student");
            const value = input.value;
            if (!value) {
                return;
            }
            if (getStudents().includes(value.toUpperCase())) {
                setError("Student Already Exists");
                return;
            }
            if (!isValidEmail(value)) {
                setError("Not a valid Email");
                return;
            }
            const tbody = document.getElementById("student-table");
            const row = document.createElement("tr");

            const cell = document.createElement("td");
            row.appendChild(cell);
            const name = document.createElement("input");
            name.setAttribute("name", "student");
            name.setAttribute("type", "text");
            name.setAttribute("class", "student");
            name.setAttribute("value", value);
            cell.appendChild(name);

            const button = document.createElement("button");
            button.id = `delete ${value}`;
            button.onclick = deleteStudent;
            button.className = "delete-button";
            const icon = document.createElement("i");
            icon.className = "fa fa-trash";
            button.appendChild(icon);

            cell.appendChild(button);

            tbody.appendChild(row);
            input.value = "";
        }
    </script>
</html>
